# Backend URL + /api
KVON_API_URL=

# Office Location
OFFICE_LAT=
OFFICE_LONG=

# Employee Credentials
KVON_EMP_ID=
KVON_PASSWORD=
KVON_EMAIL=

# Telegram Notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=